---
layout: default
permalink: /closed/
title: Closed Software Testing Conferences
---

<p>Conferences and workshops that have shut down or ended their annual conference series.</p>

<ul class="post-list">
  {% for conference in site.data.closed %}
  <li>
    <h2><a href="{{ conference.url }}">{{ conference.name }}</a></h2>
    <p>
      <i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{ conference.location }}
      <i class="fa fa-calendar" aria-hidden="true"></i> First held: {{ conference.first_date }}
      <i class="fa fa-calendar" aria-hidden="true"></i> Last held: {{ conference.last_date }}
      {% if conference.status != nil %}<i class="fa fa-bell" aria-hidden="true"></i> Status: {{ conference.status }}{% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
