---
layout: default
---
<div class="home">

  <ul class="post-list">
    {% for current in site.data.current %}
      <li>
        <h2><a href="{{current.url}}">{{ current.name }}</a></h2>
        <p>
          <i class="fa fa-calendar"></i> {{ current.dates }} <i class="fa fa-map-marker"></i> {{ current.location }}
          {% if current.twitter != nil %}<a href="https://www.twitter.com/{{current.twitter}}"><i class="fa fa-twitter"></i>{{current.twitter}}</a>{% endif %}
          {% if current.status != nil %}<i class="fa fa-bell"></i> {{current.status}}{% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
