version: 2
jobs:
  build:
    docker:
      - image: cimg/ruby:2.6.10
        environment:
          BUNDLER_VERSION: 2.2.15
    steps:
      - checkout
      - run:
          name: Dependencies
          command: |
            gem install bundler
            bundle install
      - run:
          name: Build
          command: bundle exec jekyll build --verbose
      - run:
          name: Test
          command: bundle exec htmlproofer ./_site --check-html --disable-external
