<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/promo.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" />
<div id="promo">
  Check out the <a href="https://conference.eurostarsoftwaretesting.com/programme/?utm_source=testingconferences.org&utm_medium=referral&utm_campaign=banner" target="_blank">2024 Programme</a> taking place in Sweden, 11-14 June. New Year offer on tickets <a href="https://conference.eurostarsoftwaretesting.com/programme/?utm_source=testingconferences.org&utm_medium=referral&utm_campaign=banner" target="_blank">now available</a>!
</div>