<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/assets/promo.js" type="text/javascript"></script>
<div id="promo">
  PNSQC 2026 Early Bird registration is open through September 15! Join the software quality community in Portland or online, October 12-14. <a href="https://pnsqc.org/register/?utm_source=testingconferences&amp;utm_medium=banner&amp;utm_content=pnsqc_2026" rel="noopener" aria-label="Register for PNSQC 2026" target="_blank">Register now</a>.
</div>
