<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/best-software-testing-conferences-2020/">Best Conferences 2020</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/best-software-testing-conferences-2019/">Best Conferences 2019</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/subscribe/">Subscribe to our Newsletter</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/about/">We ♥ software testing!</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/sponsorships/">Sponsor us</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/how-to-contribute/">Contribute</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
            <li><a href="https://github.com/TestingConferences/testingconferences.github.io/">Fork us on GitHub</a></li>
          </ul>
      </div>
      <ul class="contact-list">
        <li><a href="https://lawst.com/lawst-format/" target="_blank">LAWST Format</a></li>
      </ul>
    </div>

  </div>

</footer>
