<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="https://github.com/TestingConferences/testingconferences.github.io/blob/master/_data/current.yml">contribute | source</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="http://www.kenst.com" target=blank >We ♥ software testing!</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <li><a href="/about">about</a></li>
      </ul>
      </div>
    </div>

  </div>

</footer>
