<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/subscribe/">Subscribe to our Newsletter</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="https://github.com/TestingConferences/testingconferences.github.io/">Source</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/about/">We ♥ software testing!</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/sponsorships/">Sponsor us</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <ul class="contact-list">
          <li><a href="https://lawst.com/lawst-format/" target="_blank">LAWST Workshops</a></li>
        </ul>
        <ul class="contact-list">
          <li><a href="/how-to-contribute/">Contribute</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-col-wrapper">
      © 2021 Software Testing Conferences and Workshops
    </div>
    <div class="footer-col-wrapper">
      An open source, up to date, community driven list of software testing conferences and software testing workshops happening in 2021 and beyond. For simplicty we have a list of top or <a href="/best-software-testing-conferences-2021/">best conferences in 2021</a>, in <a href="/best-software-testing-conferences-2020/">2020</a>, and in <a href="/best-software-testing-conferences-2019/">2019</a>.  
    </div>
    <div class="footer-col-wrapper">
      Whether you call these quality conferences, qa conferences, qa conferences 2021, quality engineering conferences, quality assurance conferences, quality assistance conferences, modern testing conferences, testing conferences, testing conferences 2021, 
software testing conference 2021, test conferences, test automation conferences, automation conference, or any other name, we list them all here. Are we missing anything? If so consider <a href="/how-to-contribute/">contributing</a>. 
    </div>
  </div>

</footer>
