<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/v4-shims.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend:
    site.baseurl | prepend: site.url }}" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K5QH3GQ2MF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-K5QH3GQ2MF');
  </script>
  {% seo %}

  <!-- Console Message-->
  <script>
    const message =
      `Welcome to Testing Conferences!
    
      Does this page need fixes or is our content out of date? Everyone is encourged to contribute!
      🤝 Contribute to Testing Conferences: https://testingconferences.org/how-to-contribute/
      🔎 Create a new Github issue: https://github.com/TestingConferences/testingconferences.github.io/issues/new
      🚀 We like your curiosity! Help us improve or sign up for our newsletter to learn more: https://testingconferences.org/subscribe/
      `;

    console.log(message);
  </script>

  <!-- Banner Tracking -->
  <script>
    document.getElementById('#promo').addEventListener('click', function () {
      gtag('event', 'BannerLinkClick', {
        'event_category': 'Banner Clicks',
        'event_label': 'Link Click'
      });
    });
  </script>

</head>