<div class="main-nav">
  <ul>
    <a href="/" {% if page.url == '/' %}class='active'{% endif %}>Current</a>
    <a href="/past" {% if page.url == '/past/' %}class='active'{% endif %}>Past</a>
    <a href="/news" {% if page.url == '/news/' %}class='active'{% endif %}>News</a>
    <a href="/subscribe" {% if page.url == '/subscribe/' %}class='active'{% endif %}>Subscribe</a>
    <a href="/best-software-testing-conferences-2019" {% if page.url == '/best-software-testing-conferences-2019/' %}class='active'{% endif %}>Best of 2019</a>
  </ul>
</div>
