<div class="main-nav">
  <ul>
    <a href="/" {% if page.url == '/' %}class='active'{% endif %}>Upcoming</a>
    <a href="/past" {% if page.url == '/past/' %}class='active'{% endif %}>Past</a> 
  </ul>
</div>
<div class="sub-nav">
  <ul>
    <a href="/subscribe" {% if page.url == '/subscribe/' %}class='active'{% endif %}>Newsletter</a> |
    <a href="/news" {% if page.url == '/news/' %}class='active'{% endif %}>Blog</a> |
    <a href="/best-software-testing-conferences-2021/" {% if page.url == '/best-software-testing-conferences-2021/' %}class='active'{% endif %}>Best of 2021</a>
  </ul>
</div>
