/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: #F5F5F5;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px #CCC;
    }

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.main-nav {
    font-size: 26px;
    padding: 5px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 20px;
    text-shadow: 2px 2px 2px #CCC;
    text-align: center;

    .active {
        font-weight: bold;
        text-decoration: none;
    }

    a {
        color: #225c80
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    border: 1px;
    border-color: #e8e8e8;

    > li {
        margin-bottom: $spacing-unit;
        padding: 5px;
    }

    h2 {
      font-size: 26px;
      margin-bottom: 1px;
      margin-left: 5px;
    }

    .fa {
        margin-left: 10px;
    }

    li:nth-child(even) {
        background-color: #F6F6F6;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.lower-page {
      list-style: none;
      border: 1px;
      border-color: #e8e8e8;
      list-style: none;
      text-shadow: 2px 2px 2px #CCC;
      text-align: left;

      a {
          color: #225c80;
      }

      > li {
          margin-bottom: $spacing-unit;
          padding: 5px;
      }

      h2 {
        font-size: 26px;
        font-weight: bold;
        margin-left: 5px;
      }
}

#promo {
  position: relative;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: springgreen;
  color: black;
  a {
      color: blue;
  };
  text-align: center;
  line-height: 2.5;
  font-weight: normal;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow:    0 0 5px black;
  box-shadow:         0 0 5px black;
  padding-left: 10px;
  padding-right: 25px;
}

#close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-indent: -9999px;
  background: url(/assets/close.png);
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.push {
    padding-top: 5px !important;
}
